# Database
POSTGRES_DB=bookportal
POSTGRES_USER=bookportal
POSTGRES_PASSWORD=bookportal

# Ports
BACKEND_PORT=8080
FRONTEND_PORT=3000
DB_PORT=5432      # pro database
DB_PORT_DEV=5433  # dev database (separada de pro)
NGINX_PORT=80

# API URL (for frontend)
NEXT_PUBLIC_API_URL=http://localhost:8080

# Spring profile (dev/pro)
SPRING_PROFILES_ACTIVE=dev
